.wrapper .content {

    margin-right:340px!important;
}
.content-header::after {
    left: 51% !important;
    
}
#p1 {
    text-align: justify !important;
}




@media (max-width: 794px){
.content-header::after {
    
    left: 45% !important;
    
}
}
@media (max-width: 768px){
.content-header::after {
    
    left: 45% !important;
    
}
}