.wrapper .content {

    margin-right: 340px !important;
}

.content-header::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    bottom: 0;
    right: 0 !important;
    background: #A3C519;
}

#p1 {
    text-align: justify !important;
}

.experience .exp-col span::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    background: #A3C519;
    top: 5px;
    right: -26px !important;
    border-radius: 5px;
}

.experience .exp-col {
    position: relative;
    width: 100%;
    padding: 20px 0 20px 20px;
    border-right: 1px solid #A3C519 !important;
    border-left: none !important;
    border-bottom: 1px solid #A3C519;
}

.experience .exp-col {
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 0 !important;
    border-left: 1px solid #A3C519;
    border-bottom: 1px solid #A3C519;
}

.education .edu-col span::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    background: #A3C519;
    top: 5px;
    right: -26px !important;
    border-radius: 5px;
}

.education .edu-col {
    position: relative;
    width: 100%;
    padding: 20px 0 20px 20px;
    border-right: 1px solid #A3C519 !important;
    border-left: none !important;
    border-bottom: 1px solid #A3C519;
}

.education .edu-col {
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 0 !important;
    border-left: 1px solid #A3C519;
    border-bottom: 1px solid #A3C519;
}